@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.title {
  margin: 10px 0 0;
  text-align: center;
}

.container {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; */

  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
}

.container img {
  object-fit: cover;
  margin: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
}

.rowNum {
  position: fixed;
  top: 20px;
  right: 7vw;
  margin: 0 auto 20px;
  padding: 5px 0;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  width: 65px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

label {
  position: fixed;
  top: 57px;
  right: 8vw;
  opacity: 0.5;
}

.rowNum::-webkit-outer-spin-button,
.rowNum::-webkit-inner-spin-button {
  visibility: visible;
  height: 30px;
}