  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

  * {
    box-sizing: border-box;
  }

  body {
    background-color: #e2efd0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  .container {
    border-radius: 5px;
    width: 300px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  }

  .title {
    margin: 0;
  }

  .subtitle {
    display: inline-block;
    margin: 5px 0 20px;
    opacity: .8;
  }

  .header {
    background-color: #6647e1;
    color: #ecf2ea;
    padding: 30px 20px;
  }

  .header input {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
    outline: none;
  }

  .user-list {
    background-color: #e6eee7;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
  }

  .user-list li {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .user-list li img {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
  }

  .user-list .user-info {
    margin-left: 10px;
  }

  .user-info h4 {
    margin: 0 0 10px;
  }

  .user-info p {
    font-size: 12px;

  }

  .user-list li:not(:last-of-type) {
    border-bottom: 1px solid #ededed;
  }

  .user-list li.hide {
    display: none;
  }